# Imports

In [ ]:
import random as randrange
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',10) #regula o número de linhas
pd.set_option('display.max_columns',10) #regula o número de colunas

#Import excel com pandas

In [ ]:
df = pd.read_csv('db.csv', sep = ';')
df.info() #checar o documento que estamos usando de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# Tuplas no pandas

In [ ]:
# Maneiras de criar tupla

'Jetta Variant', 'Passat', 'Crossfox', 'DS5' #Tupla com os elementos ja registrados

1, 2, 3 #como criar tupla em ordem dos items declarados

() #Cria uma tupla vazia

**Selecionar items na tupla:**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'
carros[0]

'Jetta Variant'

**Iterações nas Tuplas**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'

In [ ]:
for i in carros:
  print(i)

Jetta Variant
Passat
Crossfox
DS5

**Desempacotando em tuplas**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'
carros

In [ ]:
carro1, carro2, carro3, carro4 = carros
#assim assumimos a posição do elemento na tupla com a váriavel nova

**Iterador Zip()**

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
valores = [92347, 23881, 12973, 10284]

In [ ]:
zip(carros, valores)
#assimila os elementos de uma lista com base na posição
#Jetta[0] e 92347[0]
#Passat[1] e 23881[1]
#Crossfox[2] e 12973[2]
#DS5[3] e 10284[3]

In [ ]:
for i, j in zip(carros, valores):
  if j <= 15000:
    print(i)

#Dicionários

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
valores = [92347, 23881, 12973, 10284]

In [ ]:
dados = dict(zip(carros, valores))
#Mesmo igual da forma manual, o dict é bem usado em listas grandes

***dict[key]***

In [ ]:
dados['Passat'] 
#retorna o elemento pareado com a chave citada

**key in dict**

In [ ]:
'Passat' in dados
'Ferrari' in dados
#Retorna True ou False baseado nos dados da tabela armazenada

**len(dict)**

In [ ]:
len(dados)
#retorna o tamanho do dicionario

**dict[key]**

In [ ]:
dados['Ferrari'] = 12345
dados
#adiciona um item novo ao dicionario

**del dict[key]**

In [ ]:
del dados['Passat']
dados
#retorna o dicionario, porem removendo a chave declarada

**dict.update()**

In [ ]:
dados.update({'Passat': 12973})
dados
#Adiciona(ou atualiza) um elemento no dicionario

**dict.copy()**

In [ ]:
dadosCopy = dados.copy()
dadosCopy
#Cria uma copia do dicionario em que não é alterado na lista anterior

**dict.pop(key[,default])**

In [ ]:
dadosCopy.pop('Passat')
#Elimina o elemento declarado e retorna o valor dele

In [ ]:
dadosCopy.pop('Passat','Não encontado')
#Retona mensagem caso não tenha o elemento a deletar

**dict.clear()**

In [ ]:
dadosCopy.clear()
dadosCopy
#limpa o dicionario

**Dict.keys()**

In [ ]:
dados.keys()
#Essa iteração retorna as chaves do dicionario
#ou
for i in dados.keys():
  print(dados[i])
#essa retorna os assimilados as chaves do dicionario

**dict.values()**

In [ ]:
dados.values()
#mais pratico do que acima, retorna os valores assimilados

dict_values([92347, 23881, 12973, 10284])

**dict.items**

In [ ]:
dados.items()
#Cria tuplas usando as chaves e valores

dict_items([('Jetta Variant', 92347), ('Passat', 23881), ('Crossfox', 12973), ('DS5', 10284)])

#Funções

**Build in(funções integradas no python)**

In [ ]:
dados = {'Jetta Variant': 92347, 'Passat': 23881, 'Crossfox': 12973, 'DS5': 10284}
dados

{'Jetta Variant': 92347, 'Passat': 23881, 'Crossfox': 12973, 'DS5': 10284}

In [ ]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores
#Função ja integrada em python que adiciona elementos a lista

[92347, 23881, 12973, 10284]

In [ ]:
list(dados.values())
#Organizar os dados em forma de lista

[92347, 23881, 12973, 10284]

In [ ]:
sum(dados.values())
#Praticidade de somar os elementos sem precisar criar função

**Funções(tendo que ser criada pelo developer)**

In [ ]:
def media():
  valor = (1 + 2 + 3)/ 3
  print(valor)

**Funções com parametros **

In [ ]:
def media(n1, n2, n3):
  valor = (n1 + n2 + n3) / 3
  print(valor)
media(2,5,6)

4.333333333333333

**Funções que retornam valores**

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [ ]:
media([10,20,30,40])

resultado = media([10,20,30,40])
resultado#Assim atribuimos o valor da função a uma variável(neste caso retornamso a media e o tamanho da lista)

(25.0, 4)

#Pandas inicio

**DataFrames**

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
pd.Series(carros)

**DataFrame apartir de um lista de dicionário**

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

**Criando dataFrame apartir de dicionário**

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

**DataFrame apartir de arquivos externos**

In [ ]:
df = pd.read_csv('db.csv', sep = ';')
df

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

**Selecionando colunas do Df**

In [ ]:
df[['Valor']]

In [73]:
df[0:4] 
#Seleção mais simples, igual lista simples [lista]
#Seleção em formato de dataframe [[lista]]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [72]:
df.loc[[1]] #Seleção de de linhas e colunas segundo a matriz pedida

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [ ]:
df.loc[[0, 2],['Motor','Valor']]
#Seleção multipla

In [ ]:
df.iloc[[1]]
#o ILOC seleciona todas as informações atribuidas aquela chave na matriz
df.iloc[0:2]

**Queries com Dataframes**

In [ ]:
df.head()

In [ ]:
df.Motor == 'Motor Diesel'
#Filtra por elemento citado e devolve em formato boolean

select = df.Motor == 'Motor Diesel'
df[select]
#atalho para transformar essa seleção em dataframe

df[(df.Motor == 'Motor Diesel') & (df.Zero_km == True)]
#Filtrando com 2 atributos usando o '&'

**Método Query**

In [ ]:
df.query('Motor == "Motor Diesel" and Zero_km')
#Método mais simples para filtrar e selecionar