<a href="https://colab.research.google.com/github/EnzoFerreira/Python-em-Data-Science/blob/main/PyPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
import random as randrange
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',10) #regula o número de linhas
pd.set_option('display.max_columns',10) #regula o número de colunas

#Import excel com pandas

In [ ]:
df = pd.read_csv('db.csv', sep = ';')
df.info() #checar o documento que estamos usando de dados

# Tuplas no pandas

In [ ]:
# Maneiras de criar tupla

'Jetta Variant', 'Passat', 'Crossfox', 'DS5' #Tupla com os elementos ja registrados

1, 2, 3 #como criar tupla em ordem dos items declarados

() #Cria uma tupla vazia

**Selecionar items na tupla:**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'
carros[0]

'Jetta Variant'

**Iterações nas Tuplas**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'

In [ ]:
for i in carros:
  print(i)

Jetta Variant
Passat
Crossfox
DS5

**Desempacotando em tuplas**

In [ ]:
carros = 'Jetta Variant', 'Passat', 'Crossfox', 'DS5'
carros

In [ ]:
carro1, carro2, carro3, carro4 = carros
#assim assumimos a posição do elemento na tupla com a váriavel nova

**Iterador Zip()**

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
valores = [92347, 23881, 12973, 10284]

In [ ]:
zip(carros, valores)
#assimila os elementos de uma lista com base na posição
#Jetta[0] e 92347[0]
#Passat[1] e 23881[1]
#Crossfox[2] e 12973[2]
#DS5[3] e 10284[3]

In [ ]:
for i, j in zip(carros, valores):
  if j <= 15000:
    print(i)

#Dicionários

In [4]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
valores = [92347, 23881, 12973, 10284]

In [5]:
dados = dict(zip(carros, valores))
#Mesmo igual da forma manual, o dict é bem usado em listas grandes

***dict[key]***

In [ ]:
dados['Passat'] 
#retorna o elemento pareado com a chave citada

**key in dict**

In [ ]:
'Passat' in dados
'Ferrari' in dados
#Retorna True ou False baseado nos dados da tabela armazenada

**len(dict)**

In [ ]:
len(dados)
#retorna o tamanho do dicionario

**dict[key]**

In [ ]:
dados['Ferrari'] = 12345
dados
#adiciona um item novo ao dicionario

**del dict[key]**

In [ ]:
del dados['Passat']
dados
#retorna o dicionario, porem removendo a chave declarada

**dict.update()**

In [ ]:
dados.update({'Passat': 12973})
dados
#Adiciona(ou atualiza) um elemento no dicionario

**dict.copy()**

In [ ]:
dadosCopy = dados.copy()
dadosCopy
#Cria uma copia do dicionario em que não é alterado na lista anterior

**dict.pop(key[,default])**

In [ ]:
dadosCopy.pop('Passat')
#Elimina o elemento declarado e retorna o valor dele

In [ ]:
dadosCopy.pop('Passat','Não encontado')
#Retona mensagem caso não tenha o elemento a deletar

**dict.clear()**

In [20]:
dadosCopy.clear()
dadosCopy
#limpa o dicionario

{}